<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>jf-openhuninn-1.1.ttf</string>
		<string>crayon_1–1.ttf</string>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb821396665607131</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>821396665607131</string>
	<key>FacebookClientToken</key>
	<string>56253b66cbbe8e98dc9a20206cc59604</string>
	<key>FacebookDisplayName</key>
	<string>FinalProject</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string></string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
</dict>
</plist>
